
ul {
    list-style-type: none;
    display: table;
    padding: 0% 30% 0% 30%; 
    margin: auto;
}

li {
    display: inline;
    float: left;
    display: inline-block;
    
}

a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: brown;
}

a:active {
    color: green;
}
